# Operator-managed file. Do not put OAuth tokens here or in the repository.
HOME=/home/dotesperia
OMB_DATA_DIR=/home/dotesperia/.dotesperia
OMB_PORT=18899
OMB_WEBHOOK_PORT=18900
OMB_STATIC_DIR=/opt/dotesperia/repo/dist
PATH=/opt/dotesperia/node-v24.21.0-linux-x64/bin:/opt/dotesperia/tooling/node_modules/.bin:/usr/bin:/bin
HTTPS_PROXY=http://127.0.0.1:18081
HTTP_PROXY=http://127.0.0.1:18081
ALL_PROXY=http://127.0.0.1:18081
NO_PROXY=127.0.0.1,localhost,::1
NODE_USE_ENV_PROXY=1
DOTESPERIA_OWNER_ORIGINS='[]'
DOTESPERIA_PROXY_PORT=18081
DOTESPERIA_UI_BIND=127.0.0.1
DOTESPERIA_UI_PORT=18898
DOTESPERIA_TLS_KEY=/opt/dotesperia/tls/ui.key
DOTESPERIA_TLS_CERT=/opt/dotesperia/tls/ui.crt
